.pagination{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.pagination button{
    width: 80px;
    background-color: #3874ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.pagination p{
    display: inline-block;
    border: 1px solid #3874ff;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.disabled{
    opacity: .3;
}

.selected{
    background-color: #3874ff;
    color: #fff;
}